img {
  width: 250px;
  height: 200px;
}

button {
  margin: 15px;
}

#pageHeader {
  text-align: center;
  font-size: 50px;
  font-style: helvetica;
  font-weight: bold;
  margin-bottom: 0px;
}

#buttonContainer {
  text-align: center;
}

#name {
  font-size: 12px;
  font-size: helvetica;
  font-weight: bold;
}

#explanation {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

#names {
  text-align: center;
}
